/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 14, 2015, 4:55:47 PM
    Author     : danh
*/

h4 {
    padding: 0px 0px 0px 10px;
}

form label {
    display: inline-block;
    margin-bottom: 5px;
}

form li {
    margin: 0px 0px 10px 0px;
    list-style-type: none;
}

table {
    border-collapse: collapse;
}

table th {
    padding: 8px;
    border: 1px solid #666666;
    background: #dedede;
}

table td {
    padding: 8px;
    border: 1px solid #666666;
}

.addBtn {
    padding: 0px 0px 5px 5px;
}

ul {
    padding: 0px 0px 10px 5px;
}

.leftSide, .rightSide {
    float: left;
    width: 48%;
    min-height: 300px;
    padding: 10px;
}

.leftSide {
    border-right: 1px solid #F1F1F1;
}

.rightSide {
    padding-left: 10px;
}
.queryTxt {
    width: 50%;
}

.bold {
    font-weight: bold;
}

.borderNone {
    border: 0px;
}